body {
    background-color: blue;
}
h1 {
    padding-top: 50px;
    padding-right: 30px;
    scroll-padding-bottom: 50px;
    padding-left: 80px;
    color: blue 
}
P{
    font-family: 'Times New Roman', Times, serif;

}

ul{
    list-style-image: url('sqpurple.gif');
}


